.app-footer {
  padding: 0.5rem 1rem;
  color: $white;
  background-color: $black;
  text-align: center;
  border-top: 0.5rem solid $fourth;

  @include respondTo(md) {
    @include displayFlex(space-between, center);
    text-align: left;
  }

  .copyrights {
    font-size: 0.85rem;

    @include respondTo(md) {
      margin-bottom: 0;
    }
  }

  .legals {
    font-size: 0.85rem;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
