.app-header {
  position: sticky;
  top: 0;
  z-index: 9997;
  @include displayFlex(center, center);
  padding: 0.5rem 1rem;
  background-color: $white;
  border-top: 0.5rem solid $fourth;

  @include respondTo(md) {
    @include displayFlex(space-between, center, 3rem);
    padding: 0.25rem 1.5rem;
  }

  .sitename {
    padding: 0 1rem;
    font-family: $font-secondary;
    font-size: 2.5rem;
    color: $fourth;
    text-shadow: 2px 2px 0 $primary,
    4px 4px 0 $primary,
    6px 6px 0 $primary,
    8px 8px 0 $primary;
    letter-spacing: 2px;
    text-decoration: none;
    transform: translateY(0.5rem) rotate(5deg);
    transition: all 0.5s;

    &:hover {
      transform: translateY(0) rotate(0);
    }
  }
}
