.app-header {
  padding: 1rem 1.5rem;
  background-color: $white;

  @include respondTo(md) {
    @include displayFlex(space-between, center);
  }

  .sitename {
    font-family: $font-secondary;
    font-size: 2rem;
    color: $fourth;
    text-shadow: 2px 2px 0 $primary,
    4px 4px 0 $primary,
    6px 6px 0 $primary,
    8px 8px 0 $primary;
    letter-spacing: 2px;
    text-decoration: none;
  }
}
