html {
  scroll-behavior: smooth;

  body {
    font-family: $font-primary;
    color: $white;
    background-color: $primary;

    @import "./header";

    @import "./navigation", "./usernavigation";

    @import "./main";

    @import "./footer";

    @import "../../pages/home", "../../pages/game", "../../pages/admin";
  }
}
