::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background: $primary;
}

::-webkit-scrollbar-thumb {
  background: $fourth;
}

::-webkit-scrollbar-thumb:hover {
  background: $fourth;
}

html {
  scroll-behavior: smooth;

  .turbo-progress-bar {
    height: 0.5rem;
    background-color: $white;
  }

  body {
    font-family: $font-primary;
    color: $white;
    background-color: $primary;

    @import "./header";

    @import "./navigation";

    @import "./main";

    @import "./footer";

    @import "../../pages/home", "../../pages/admin";
  }
}
