.app-usernavigation {
  @include displayFlex(center, center);
  background-color: $white;

  & > a {
    flex: 1;
    padding: 1rem 0.5rem;
    font-family: $font-third;
    font-size: 0.85rem;
    text-decoration: none;
    text-align: center;
    color: $primary;
    transition: all 0.5s;

    &:hover,
    &.active {
      color: $third;
    }

    @include respondTo(md) {
      padding: 0 0.5rem;
      font-size: 1rem;
    }
  }
}
