{% extends 'layout/default/index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block main %}
    <section class="app-section app-cover">
        <img src="{{ asset('img/cover.png') }}" alt="Pokemory"/>
        <h1>Bienvenue sur Pokémory !</h1>
    </section>
{% endblock %}
