{% extends 'layout/default/index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block main %}
    <section class="app-section app-cover">
        <img src="{{ asset('img/cover.png') }}" alt="Pokemory"/>
        <h1>Bienvenue sur Pokémory !</h1>
    </section>

    <section class="app-section app-text">
        <h2>Bienvenue dans le monde mystérieux du Memory Pokémon&nbsp;!</h2>
        <p>
            Attrape-les tous… avec ta mémoire&nbsp;! Prépare-toi à plonger dans l'univers des Pokémon comme jamais
            auparavant. Ce jeu de memory te met au défi de retrouver tous tes Pokémon préférés en retournant des
            cartes. Penses-tu avoir la mémoire d'un Pikachu&nbsp;? Ou plutôt celle d'un Ronflex après une sieste&nbsp;?
            Que tu sois un Dresseur débutant ou un Maître Pokémon confirmé, il y a un niveau pour toi&nbsp;!
        </p>
    </section>

    <section class="app-section app-text">
        <h2>Défie tes amis et monte dans le Classement&nbsp;!</h2>
        <p>
            Seul le plus rapide et le plus astucieux pourra devenir le champion du Memory Pokémon&nbsp;! Connecte-toi
            pour suivre ta progression, défier tes amis et grimper dans le classement global. Avec des niveaux allant
            de 4 à 36 cartes, prépare-toi à un véritable entraînement mental. Tu crois tout savoir sur les Pokémon&nbsp;?
            Prouve-le en trouvant toutes les paires avant que Mewtwo ne t'efface la mémoire&nbsp;!
        </p>

        <div class="buttons">
            {% if not app.user %}
                <p>
                    <a href="{{ path('app_login') }}" class="app-btn make-sound">Connecte-toi</a>
                </p>

                <p>
                    <a href="{{ path('app_register') }}" class="app-btn make-sound">ou Inscris-toi</a>
                </p>
            {% elseif not is_granted("ROLE_ADMIN") %}
                <div class="buttons">
                    <p>
                        <a href="{{ path('app_game_home') }}" class="app-btn make-sound">Nouvelle partie</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
