{% extends 'layout/default/index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block main %}
    <section class="app-section app-cover">
        <img src="{{ asset('img/cover.png') }}" alt="Pokemory"/>
        <h1>Bienvenue sur Pokémory !</h1>
    </section>

    <section class="app-section app-text">
        <h2>Bienvenue dans le Monde Mystérieux du Memory Pokémon&nbsp;!</h2>
        <p>
            Attrapez-les tous… avec votre mémoire&nbsp;! Préparez-vous à plonger dans l'univers des Pokémon comme jamais
            auparavant. Ce jeu de memory vous met au défi de retrouver tous vos Pokémon préférés en retournant des
            cartes. Pensez-vous avoir la mémoire d'un Pikachu&nbsp;? Ou plutôt celle d'un Ronflex après une sieste&nbsp;?
            Que vous soyez un Dresseur débutant ou un Maître Pokémon confirmé, il y a un niveau pour vous&nbsp;!
        </p>
    </section>

    <section class="app-section app-text">
        <h2>Défiez Vos Amis et Montez dans le Classement&nbsp;!</h2>
        <p>
            Seul le plus rapide et le plus astucieux pourra devenir le champion du memory Pokémon&nbsp;! Connectez-vous
            pour suivre votre progression, défier vos amis et grimper dans le classement global. Avec des niveaux allant
            de 4 à 36 cartes, préparez-vous à un véritable entraînement mental. Vous croyez tout savoir sur les Pokémon&nbsp;?
            Prouvez-le en trouvant toutes les paires avant que Mewtwo ne vous efface la mémoire&nbsp;!
        </p>
    </section>
{% endblock %}
