<footer class="app-footer">
    <p class="copyrights">
        © {{ 'now' | date('Y') }}
        <a href="http://nicolasvauche.net" target="_blank">Nicolas Vauché</a>
        •
        Code source sous
        <a href="https://github.com/nicolasvauche/sf_pokemory/blob/main/licence.txt" target="_blank">Licence MIT</a>
    </p>
    <p class="legals">
        <a href="#">Mentions légales</a>
        •
        <a href="#">Politique de confidentialité</a>
    </p>
</footer>
