<footer class="app-footer">
    <p class="copyrights">© {{ 'now' | date('Y') }} Pokémory • Tous Droits Réservés.</p>
    <p class="legals">
        <a href="#">Mentions légales</a>
        •
        <a href="#">Politique de confidentialité</a>
    </p>
</footer>
