<nav class="app-navigation">
    <a href="{{ path('app_home') }}" {% if app.request.get('_route') == 'app_home' %}class="active"{% endif %}>
        Accueil
    </a>
    <a href="{{ path('app_game_home') }}" {% if 'app_game_' in app.request.get('_route') %}class="active"{% endif %}>
        Jouer
    </a>
    <a href="{{ path('app_leaderboard') }}"
       {% if app.request.get('_route') == 'app_leaderboard' %}class="active"{% endif %}>
        Classement
    </a>
</nav>
