<nav class="app-navigation">
    <a href="{{ path('app_home') }}" {% if app.request.get('_route') == 'app_home' %}class="active"{% endif %}>
        Accueil
    </a>
    <a href="#">Jouer</a>
    <a href="#">Classement</a>
</nav>
