{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/default/_header.html.twig' %}

    <main class="app-main">
        {% include 'layout/_alert.html.twig' %}

        {% block main %}{% endblock %}
    </main>

{% endblock %}
