.app-section {
  padding: 3rem 1rem;

  @include respondTo(md) {
    padding: 3rem 1.5rem;

    &.app-text,
    &:has(.app-game) {
      background-color: $third;
      border-radius: 0.5rem;
    }

    &.app-text {
      margin: 3rem auto;
      width: 60dvw;
      box-shadow: 2px 2px 0 $fourth,
      4px 4px 0 $fourth,
      6px 6px 0 $fourth,
      8px 8px 0 $fourth;

      .buttons {
        @include displayFlex(center, center, 1.5rem);

        p {
          margin-bottom: 0;
          flex: 1;

          .app-btn {
            display: block;
            text-transform: none;
            text-align: center;
          }
        }
      }
    }

    &:has(.app-game) {
      padding: 2rem;
      border-radius: 0;
    }
  }

  @import "./cover";
}
