.app-section {
  padding: 3rem 1rem;

  @include respondTo(md) {
    padding: 3rem 1.5rem;

    &.app-text,
    &:has(.app-game) {
      background-color: $third;
      border-radius: 0.5rem;
    }

    &.app-text {
      margin: 3rem auto;
      width: 60dvw;

      .buttons {
        @include displayFlex(center, center, 1.5rem);

        p {
          margin-bottom: 0;
          flex: 1;

          .app-btn {
            display: block;
            text-transform: none;
            text-align: center;
            background-color: $primary;
          }
        }
      }
    }

    &:has(.app-game) {
      padding: 2rem;
      border-radius: 0;
    }
  }

  @import "./cover";
}
