.form-fieldset {
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  background-color: $secondary;
  border: 0.5rem solid $fourth;
  border-radius: 0.5rem;

  @include respondTo(md) {
    padding: 3rem 1.5rem;
  }

  &.form-actions {
    @include displayFlex(center, center, 1rem);
    padding: 1rem;
    margin-bottom: 0;
    background-color: transparent;
    border: none;

    @include respondTo(md) {
      padding: 1.5rem;
    }
  }

  .form-legend {
    padding: 0.5rem;
    font-family: $font-third;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: $primary;
    background-color: $fourth;
    border-radius: 0.5rem;

    @include respondTo(md) {
      padding: 1rem;
    }
  }
}
