@mixin displayFlex($justify: null, $align: null, $gap: null, $direction: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin displayGrid($columns: 1fr, $gap: 0.5rem, $align: null) {
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
  align-items: $align;
}

@mixin respondTo($breakpoint) {
  @if $breakpoint == sm {
    @media(min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media(min-width: 1025px) {
      @content;
    }
  }
}
